@tailwind base;
@tailwind components;
@tailwind utilities;

table.tableSpacing {
  border-collapse: separate;
  border-spacing: 0 0.25rem;
}

table.tableSpacing td {
  background-color: rgb(255, 255, 255);
  width: 150px;
  padding: 5px;
}

table.tableSpacing td >  {
  background-color: rgb(255, 255, 255);
  width: 150px;
  padding: 5px;
}

body{
  background-color: rgb(242, 242, 242);
}

.st1{
  background: linear-gradient(
                          to right,
                          #ee7724,
                          #d8363a,
                          #dd3675,
                          #b44593
                        );
}

.st2 {
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}